@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --primary-color: #3498db;
    --secondary-color: #f39c12;
    --text-color: #333;
}

body {
    font-family: 'Open Sans';
    margin: 1rem;
    padding: 0;
    color: var(--text-color);
    background-color: white;
}


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns:1fr 1fr 80px;
	border-bottom: 3px solid #ccc;
    justify-content: space-evenly;
    background-color: palevioletred;

}


header img {
    margin: 0.25rem  0.25rem  ;
	width: 64px;
	height: 64px;
    padding: 10px;
}


nav {
	text-align: right;
}


.navigation {
	display:flex;
    justify-content: center;
    align-content: center;
}



.navigation a {
	display: block;
	color: navy;
	padding: 20px;
    align-items: center;
}


.hero {
    position: relative;
    width: 900px;
    height: 400px; 
    border: #f39c12;
  
}

.hero-image {
    display: block;
    width: 100%;
    height:auto;
}


.hero h1 {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 3rem;
    margin: 20px;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color:rgb(132, 142, 151);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.hero article p {
    margin: 0;
}

section {
    padding: 20px;
}


.gallery {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
}

.gallery h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.gallery .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery .image-item {
    flex: 1 1 200px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-bottom: 3px solid var(--primary-color);
}



h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

footer {
    
    color:black;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    display: grid;
    text-align: center;

    background-color: #d87093;
    border-radius: bold;
}

.social-icons{
    align-content: center;
   

}