@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --primary-color: #3498db;
    --secondary-color: #f39c12;
    --text-color: #333;
}

body {
    font-family: 'Open Sans';
    margin: 1rem;
    padding: 0;
    color: var(--text-color);
    background-color: white;
}


.logo img {
    max-height: auto;
}


main{
    padding: 2rem;

}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 1000px;
    height: 400px; /* Adjust the height as needed */
}

.hero-image {
    width: 150%;
    height: 100%;
    object-fit: fill;
    display: block;
}


.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.hero article p {
    margin: 0;
}



h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

footer {
    
    color:black;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

   

